.vs
*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.log
*.obj
*.ilk
*.pyc
/bin/
/Libs/
/obj/
/extras/
/Include/JsLib/DukTape/
/Include/RapidJSON/
/Source/JsLib/DukTape/setenv.bat
/Source/OpenSSL/Generated/
/Source/OpenSSL/Temp/
/Test/Data/*.sqlite
/Test/Data/session/
