.svn/
*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.log
*.obj
*.ilk
/bin/
/Libs/
/obj/
/extras/
/Include/JsLib/DukTape/duk_config.h
/Include/JsLib/DukTape/duktape.h
/Source/JsLib/DukTape/setenv.bat
/Source/OpenSSL/setenv.bat
/Source/OpenSSL/Generated/
*.pyc
