/* Header and Logo */
div.header {
	clear: both;
	overflow: hidden;
	line-height: 10px;
	background: url("../images/header_background.png") repeat-x left top;
}
div.header div.text {
	max-width: 280px;
	margin: 0 auto;
}
div.header div.text img {
	width: 100%;
	height: auto;
	max-width: 100%;
	float: left;
}

nav.nav a.custom-nav-link {
	text-decoration: inherit;
	color: white;
	padding: 0.3rem 0.5rem;
	font-size: .7rem;
	font-family: Arial, Helvetica, sans-serif;
}
nav.nav a.custom-nav-link:hover {
	text-decoration: underline;
}

pre {
	overflow-x: auto;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
